<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:replace="~{layouts/layout :: layout('Editar Mascota', ~{layouts/navbar :: navbar('CUSTOMER')}, ~{::content}, ~{::pageScripts})}">
    <div class="container mt-4" th:fragment="content">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="card shadow">
                    <div th:replace="~{fragments/card-header :: cardHeader('bi-pencil-square', 'Editar Mascota', null)}"></div>
                    <div class="card-body p-4">
                        <form data-confirm="¿Estás seguro de actualizar esta mascota?"
                              method="post" th:action="@{/pets/{id}/edit(id=${pet.id})}" th:object="${pet}">
                            <input th:field="*{id}" type="hidden">
                            <div class="row g-4">
                                <div class="col-md-6">
                                    <div th:replace="~{fragments/input-group :: inputGroup('Nombre', 'name', 'bi-person', 'text', 'Ej: Luna', true)}"></div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label fw-bold" for="species">Especie</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-light border-end-0">
                                            <i aria-hidden="true" class="bi bi-tropical-storm"></i>
                                        </span>
                                        <select class="form-select form-select-lg" id="species" required
                                                th:errorclass="is-invalid" th:field="*{species}">
                                            <option disabled value="">Seleccionar especie...</option>
                                            <option th:each="sp : ${T(tfg.psygcv.entity.pet.Species).values()}"
                                                    th:text="${sp.description}"
                                                    th:value="${sp}"></option>
                                        </select>
                                    </div>
                                    <div class="invalid-feedback d-block" th:errors="*{species}"
                                         th:if="${#fields.hasErrors('species')}"></div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label fw-bold" for="sex">Sexo</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-light border-end-0">
                                            <i aria-hidden="true" class="bi bi-gender-ambiguous"></i>
                                        </span>
                                        <select class="form-select form-select-lg" id="sex" required
                                                th:errorclass="is-invalid" th:field="*{sex}">
                                            <option th:each="sexValue : ${T(tfg.psygcv.entity.pet.Sex).values()}"
                                                    th:text="${sexValue.description}"
                                                    th:value="${sexValue}"></option>
                                        </select>
                                    </div>
                                    <div class="invalid-feedback d-block" th:errors="*{sex}"
                                         th:if="${#fields.hasErrors('sex')}"></div>
                                </div>
                                <div class="col-md-6">
                                    <div th:replace="~{fragments/input-group :: inputGroup('Fecha Nacimiento', 'birthDate', 'bi-calendar', 'date', '', true)}"></div>
                                </div>
                                <div class="col-md-6">
                                    <div th:replace="~{fragments/input-group :: inputGroup('Peso (kg)', 'weight', 'bi-speedometer2', 'number', 'Ej: 10.5', true)}"></div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label fw-bold" for="breed">Raza</label>
                                    <div class="input-group">
                                        <span class="input-group-text bg-light border-end-0">
                                            <i aria-hidden="true" class="bi bi-tag"></i>
                                        </span>
                                        <select class="form-select form-select-lg" id="breed" required
                                                th:errorclass="is-invalid" th:field="*{breed}">
                                            <option disabled value="">Selecciona primero una especie...</option>
                                            <option th:attr="data-species=${br.species}"
                                                    th:each="br : ${T(tfg.psygcv.entity.pet.Breed).values()}"
                                                    th:text="${br.description}"
                                                    th:value="${br}"></option>
                                        </select>
                                    </div>
                                    <div class="invalid-feedback d-block" th:errors="*{breed}"
                                         th:if="${#fields.hasErrors('breed')}"></div>
                                </div>
                                <div class="col-12">
                                    <div th:replace="~{fragments/button-group :: formButtons('/pets', 'Volver', 'Actualizar', true)}"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="pageScripts">
        <script src="/js/breed-filter.js"></script>
    </div>
</div>
</body>
</html>
