<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Clinica Veterinaria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body class="bg-light">
<div th:replace="~{layouts/layout :: layout('Actualizar Clinica', ~{layouts/navbar :: navbar('VETERINARIAN')}, ~{::content}, ~{})}">
    <div class="container mt-4" th:fragment="content">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="card shadow">
                    <div th:replace="~{fragments/card-header :: cardHeader('bi-pencil-square', 'Actualizar Datos del Establecimiento', null)}"></div>
                    <div class="card-body p-4">
                        <div th:if="${errorProfile}"
                             th:insert="~{fragments/alert :: errorAlert(${errorProfile})}"></div>
                        <form class="mb-5" data-confirm="Estas seguro de que deseas actualizar tu perfil profesional?"
                              method="POST"
                              th:action="@{/veterinarian/profile/update}"
                              th:object="${veterinarian}">
                            <h5 class="mb-3 border-bottom pb-2 text-primary">
                                <i aria-hidden="true" class="bi bi-person-badge me-2"></i>Datos del Responsable
                            </h5>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div th:replace="~{fragments/input-group :: inputGroup('Nombre', 'firstName', 'bi-person', 'text', '', true)}"></div>
                                </div>
                                <div class="col-md-6">
                                    <div th:replace="~{fragments/input-group :: inputGroup('Apellido', 'lastName', 'bi-person', 'text', '', true)}"></div>
                                </div>
                                <div class="col-md-6">
                                    <div th:replace="~{fragments/input-group :: inputGroup('Telefono', 'phone', 'bi-telephone', 'tel', '', true)}"></div>
                                </div>
                                <div class="col-md-6">
                                    <div th:replace="~{fragments/input-group :: inputGroup('Email', 'email', 'bi-envelope', 'email', '', true)}"></div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div th:replace="~{fragments/button-group :: formButtons('/veterinarian/clinic', 'Cancelar', 'Actualizar Perfil Profesional', true)}"></div>
                                </div>
                            </div>
                        </form>
                        <hr class="my-4">
                        <div th:if="${errorClinic}"
                             th:insert="~{fragments/alert :: errorAlert(${errorClinic})}"></div>
                        <form data-confirm="Estas seguro de que deseas actualizar los datos de la clinica?"
                              method="POST"
                              th:action="@{/veterinarian/clinic/update}" th:object="${clinic}">
                            <h5 class="mb-3 border-bottom pb-2 text-primary">
                                <i aria-hidden="true" class="bi bi-hospital me-2"></i>Datos de la Clinica
                            </h5>
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <div th:replace="~{fragments/input-group :: inputGroup('Nombre Comercial', 'name', 'bi-building', 'text', '', true)}"></div>
                                </div>
                                <div class="col-md-12">
                                    <div th:replace="~{fragments/input-group :: inputGroup('Direccion', 'address', 'bi-geo-alt', 'text', '', true)}"></div>
                                </div>
                                <div class="col-md-6">
                                    <div th:replace="~{fragments/input-group :: inputGroup('Telefono de Contacto', 'phone', 'bi-telephone', 'tel', '', true)}"></div>
                                </div>
                                <div class="col-md-6">
                                    <div th:replace="~{fragments/input-group :: inputGroup('Email Publico', 'email', 'bi-envelope', 'email', '', true)}"></div>
                                </div>
                                <div class="col-12 mt-4">
                                    <div th:replace="~{fragments/button-group :: formButtons('/veterinarian/clinic', 'Cancelar', 'Guardar Cambios Clinica', true)}"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
